packages:
  yum:
    perl-ExtUtils-MakeMaker: []
    perl-Time-HiRes: []
    perl-Time-Piece: []
    perl-Test-Simple: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_reload_app_server.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      service httpd stop

      # install cpanm 
      curl -o /usr/local/bin/cpanm -L http://xrl.us/cpanm && chmod +x /usr/local/bin/cpanm

      # install mojo
      /usr/local/bin/cpanm -n Mojolicious
 

  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99_reload_app_server.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      # hot deploy
      /usr/local/bin/hypnotoad /var/www/html/hello.pl


